* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: rgb(167, 163, 165);
}

body:hover{
    background-color: rgb(240, 70, 189);

}

.container {
    width: 90%;
    margin: 0 auto;
}






.irregular-shape {
  width: 80%;
  height: 100%;
  background-color: transparent;
  border: 2px solid transparent;
  clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 100%);
  background-color: rgb(99, 99, 98); 
  transition: clip-path 0.3s ease-in-out, background-color 0.3s ease-in-out;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 2%;
  z-index: 1;
  
}
.irregular-shape h1 {
  font-size: 200px;
  margin-top: 25%;
}


.irregular-shape:hover {
  background-color:hsl(321, 63%, 75%);
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  border-radius: 15px;
}

.irregular-shape2 {
  width: 75%;
  height: 100%;
  background-color: transparent;
  border: 2px solid transparent;
  background-color: #434343;
  clip-path: polygon(0% 20%, 100% 0%, 100% 100%, 0% 100%);
  transition: clip-path 0.3s ease-in-out,background-color 0.3s ease-in-out;
  border-radius: 15px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20%;
  z-index: 1;
  
  
  

}

.shape ul {

  display: flex;
  align-content: flex-start;
  margin-top: 30%;
  margin-left: 25%;
  color: #c7c784;
  font-weight: bold;
  font-size: 32px;
  
}
.shape li{
  margin-left: 20%;
  color: #c7c784;
}
.shape {
  width: 500px;
  height:500px;
  background-color: #363a1ee8;
  border-radius: 50%;
  transition: border-radius 0.4s ease;
  margin-left: 10%;
  margin-top: -15%;
  position: absolute;
}
.shape:hover {
 
  width: 500px;
  height: 500px;
  background-color: #f57504;
  z-index: 1;
  transition: border-radius 0.4s ease;
}
.irregular-shape2 p {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  margin-bottom: 10%;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 5%;
}
.irregular-shape2:hover {
  background-color: #99996d;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%); 
}
@media screen and (max-width: 600px) {
 
  body {
      grid-template-columns: 1fr;
      grid-template-rows: auto 1fr auto;
      grid-template-areas:
          "header"
          "main"
          "footer";
  }

  .irregular-shape, .irregular-shape2, .shape {
      width: 90%;
      margin-left: 5%; 
  }

  .irregular-shape h1 {
      font-size: 100px; 
  }

  .irregular-shape2 p {
      font-size: 18px; 
      padding: 10px; 
  }

  .shape ul {
      font-size: 18px; 
      text-align: center;
  }

  .shape li {
      margin-left: 0;
      margin-bottom: 10px;
  }


}