.navbar {
    height: 56px;
    width: 100%;
    margin: 0;
    padding-right: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5%;  
    text-decoration: none;
    background-color: rgb(7, 5, 0);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3); 
    position: fixed;
    z-index: 10;
}

.navbar:hover{
    background-color:hsl(321, 63%, 75%);
    transition: all 0.8s ease;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
   
}

.navbar:hover a{
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 5);

}

a:hover {
    transform: scale(1.2);
}
    
a{
    text-decoration: none;
    text-transform: uppercase;
    color: orange;
    font-size: 16px;
    display: inline-block;
    transition: transform 0.3s ease-in-out;


    
}

  
  .navigation {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 0;
    margin: 0;
    
  }
  
  ul {
    width: 100%;
   margin-right: 10px;
    padding: 0;
    justify-content: space-between;
    gap: 5%;  
    list-style-type: none;

  }
  
  .navlink {
  
    padding-left: 0;
    text-align: right;
    width: auto;

    text-decoration: none;

    
}